### desenvolver um modelo por Pclass

In [21]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn import cross_validation

In [14]:
train = pd.read_csv('../data/train_final.csv')

In [6]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,hasTitle,FamilyName,Title,FirstName,TitleClass,FamilySize,AgeClassDesc,AgeClass,SexClass,EmbarkedClass
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,...,Y,Braund,Mr,Owen Harris,1,2,Adulto,2,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,...,Y,Cumings,Mrs,John Bradley (Florence Briggs Thayer),3,2,Adulto,2,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,...,Y,Heikkinen,Miss,Laina,2,1,Adulto,2,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,...,Y,Futrelle,Mrs,Jacques Heath (Lily May Peel),3,2,Adulto,2,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,...,Y,Allen,Mr,William Henry,1,1,Adulto,2,0,0

In [7]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'hasTitle',
       'FamilyName', 'Title', 'FirstName', 'TitleClass', 'FamilySize',
       'AgeClassDesc', 'AgeClass', 'SexClass', 'EmbarkedClass'],
      dtype='object')

In [8]:
features = ["TitleClass", "FamilySize", "AgeClass", "SexClass", "EmbarkedClass"]

In [22]:
train_Pclass_1 = train[train["Pclass"] == 1]
train_Pclass_2 = train[train["Pclass"] == 2]
train_Pclass_3 = train[train["Pclass"] == 3]

In [19]:
rf_Pclass_1 = RandomForestClassifier(random_state=1, n_estimators=100, min_samples_split=8, min_samples_leaf=4)
rf_Pclass_2 = RandomForestClassifier(random_state=1, n_estimators=100, min_samples_split=8, min_samples_leaf=4)
rf_Pclass_3 = RandomForestClassifier(random_state=1, n_estimators=100, min_samples_split=8, min_samples_leaf=4)

In [28]:
scores_Pclass_1 = cross_validation.cross_val_score(rf_Pclass_1, train_Pclass_1[features], train_Pclass_1["Survived"], cv=3)
scores_Pclass_2 = cross_validation.cross_val_score(rf_Pclass_2, train_Pclass_2[features], train_Pclass_2["Survived"], cv=3)
scores_Pclass_3 = cross_validation.cross_val_score(rf_Pclass_3, train_Pclass_3[features], train_Pclass_3["Survived"], cv=3)

In [29]:
scores_Pclass_1.mean(), scores_Pclass_2.mean(), scores_Pclass_3.mean()

(0.72617656726763424, 0.92393795170104009, 0.79437877200857898)

In [31]:
rf_Pclass_1.fit(train_Pclass_1[features], train_Pclass_1["Survived"])
rf_Pclass_2.fit(train_Pclass_2[features], train_Pclass_2["Survived"])
rf_Pclass_3.fit(train_Pclass_3[features], train_Pclass_3["Survived"])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=4, min_samples_split=8,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [32]:
test = pd.read_csv("../data/test_final.csv")

In [33]:
test_Pclass_1 = test[test["Pclass"] == 1]
test_Pclass_2 = test[test["Pclass"] == 2]
test_Pclass_3 = test[test["Pclass"] == 3]

In [35]:
prediction_Pclass_1 = rf_Pclass_1.predict(test_Pclass_1[features])
prediction_Pclass_2 = rf_Pclass_2.predict(test_Pclass_2[features])
prediction_Pclass_3 = rf_Pclass_3.predict(test_Pclass_3[features])

In [ ]:
pd.concat([pd.DataFrame(prediction_Pclass_1, test_Pclass_1["PassengerId"])])

In [39]:
prediction = pd.concat([\
           pd.DataFrame({"Survived": prediction_Pclass_1, "PassengerId": test_Pclass_1["PassengerId"]}),\
           pd.DataFrame({"Survived": prediction_Pclass_2, "PassengerId": test_Pclass_2["PassengerId"]}),\
           pd.DataFrame({"Survived": prediction_Pclass_3, "PassengerId": test_Pclass_3["PassengerId"]})\
           ])

In [40]:
submission

(418, 2)